<!DOCTYPE html>
<html lang="pt-br">
<head>
  <link rel="stylesheet" href="static/estilo.css">
  <link rel="icon" href="static/img/rockstar.jpg" type="image/jpg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grand Thief Auto V - Rockstar Games</title>
</head>

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://x.com/RockstarGames/photo">
        <img src = "static/img/logo.svg" alt="logo do gta cinco"/>
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Visão Geral
        </a>
  
        <a class="navbar-item">
          Comprar
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" >
            Outros
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/download">
              Download
            </a>
            <a class="navbar-item">
              Jobs
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>

